# This file exists simply as a record of what was installed
# when the tests passed. Go ahead and commit it.
beautifulsoup4==4.5.1
bleach==1.4.3
Cartridge==0.11.0
chardet==2.3.0
Django==1.10
django-contrib-comments==1.7.2
django-downloadview==1.9
django-model-utils==2.5.2
filebrowser-safe==0.4.4
future==0.15.2
grappelli-safe==0.4.3
html5lib==0.9999999
Mezzanine==4.2.0
oauthlib==1.1.2
Pillow==3.3.0
PyPDF2==1.26.0
pytz==2016.6.1
reportlab==3.3.0
requests==2.11.0
requests-oauthlib==0.6.2
six==1.10.0
tzlocal==1.2.2
wheel==0.24.0
xhtml2pdf==0.0.6
