{% overextends "shop/complete.html" %}
{% load i18n downloads %}

{% block main %}
<p>{% trans "Thank you for shopping with us, your order is complete." %}</p>

{% if items|is_download %}
  <a href='{% url 'downloads_index' %}'><p>Download your digital products here.</a></p>
{% endif %}

<p>{% trans "We've sent you a receipt via email." %}</p>
<p>{% trans "You can also view your invoice using one of the links below." %}</p>
<br>
<form class="order-complete-form" method="post" action="{% url "shop_invoice_resend" order.id %}?next={{ request.path }}">
    {% csrf_token %}
    {% if has_pdf %}
    <a class="btn btn-primary" href="{% url "shop_invoice" order.id %}?format=pdf">{% trans "Download PDF invoice" %}</a>
    {% endif %}
    <a class="btn btn-default" target="_blank" href="{% url "shop_invoice" order.id %}">{% trans "View invoice in your browser" %}</a>
    <input type="submit" class="btn btn-default" value="{% trans "Re-send order email" %}">
</form>
{% endblock %}
